@if (!isBrowser) {
  <ng-template [ngTemplateOutlet]="registrationFormTemplate"></ng-template>
} @else {

  <h1 class="heading-h1 text-center">
    @if (state() !== 'complete-view') {
      Регистрация
    } @else {
      <h4 class="heading-h1">
        Спасибо за регистрацию!
      </h4>
    }

  </h1>
  <div class="mt-48">
    @switch (state()) {
      @case ('processing') {
        <nutrition-throbber></nutrition-throbber>
      }
      @case ('registration-form') {
        <ng-template [ngTemplateOutlet]="registrationFormTemplate"></ng-template>
      }
      @case ('password-form') {
        <ng-template [ngTemplateOutlet]="passwordFormTemplate"></ng-template>
      }
      @case ('complete-view') {
        <ng-template [ngTemplateOutlet]="completeView"></ng-template>
      }
    }
  </div>
}


<ng-template #registrationFormTemplate>
  <form class="registration-form" *ngIf="registrationForm" [formGroup]="registrationForm">
    <div>
      <nutrition-base-input
        *ngIf="name"
        [size]="'large'"
        [setError]="name.errors"
        [formControlName]="'name'"
        [placeholder]="'Имя'"
        [autocomplete]="true"
        [ariaLabel]="'Имя'"
      ></nutrition-base-input>
    </div>

    <div class="mt-24">
      <nutrition-base-input
        *ngIf="fullName"
        [size]="'large'"
        [setError]="fullName.errors"
        [formControlName]="'fullName'"
        [placeholder]="'ФИО'"
        [autocomplete]="true"
        [ariaLabel]="'ФИО'"
      ></nutrition-base-input>
    </div>

    <div class="mt-24">
      <nutrition-base-input
        *ngIf="email"
        [size]="'large'"
        [setError]="email.errors"
        [formControlName]="'email'"
        [placeholder]="'email@example.ru'"
        [autocomplete]="true"
        [ariaLabel]="'email'"
      ></nutrition-base-input>
    </div>

    <div class="mt-24">
      <nutrition-base-input
        *ngIf="phone"
        [maskitoOptions]="phoneMask"
        [size]="'large'"
        [setError]="phone.errors"
        [formControlName]="'phone'"
        [placeholder]="'+7(999)999-99-99'"
        [autocomplete]="true"
        [ariaLabel]="'Телефон'"
      ></nutrition-base-input>
    </div>

    <div class="mt-24">
      <div class="mb-4 text-error"
           *ngIf="dateIssue?.errors?.error"
      >
        {{dateIssue?.errors!['error']}}
      </div>
      <neo-ui-input
        [maskitoOptions]="dateMask"
        [size]="'large'"
        [formControlName]="'dateIssue'"
        [placeholder]="'01.01.1999'"
        [name]="'ФИО'"
      >
      </neo-ui-input>

      <div class="mt-24">

        <h5 class="heading-h5">Укажите пол
          <span class="mb-4 text-error text-base-small"
               *ngIf="gender?.errors?.error"
          >
            (<b>{{gender?.errors?.error}}</b>)
          </span>
          :
        </h5>
        <div class="registration-form__input-grid mt-8">

          <div class="registration-form__input-grid-col">
            <neo-ui-radio
              [label]="'Мужской'"
              [value]="'male'"
              [formControlName]="'gender'"
            ></neo-ui-radio>
          </div>

          <div class="registration-form__input-grid-col">
            <neo-ui-radio
              [label]="'Женский'"
              [value]="'male'"
              [formControlName]="'gender'"
            ></neo-ui-radio>
          </div>

        </div>
      </div>
    </div>
    <div class="mt-24">
      <neo-ui-button
        [size]="'large'"
        [buttonType]="'submit'"
        [fullWidth]="true"
        (click)="continue()"
      >
        Продолжить
      </neo-ui-button>
    </div>
  </form>
</ng-template>

<ng-template #passwordFormTemplate>
  <form class="registration-form" *ngIf="passwordForm" [formGroup]="passwordForm">
    <div>
      <nutrition-base-input
        *ngIf="password"
        [type]="'password'"
        [size]="'large'"
        [setError]="password.errors"
        [formControlName]="'password'"
        [placeholder]="'Пароль'"
        [autocomplete]="true"
        [ariaLabel]="'Пароль'"
      ></nutrition-base-input>
    </div>

    <div class="mt-24">
      <nutrition-base-input
        *ngIf="replayPassword"
        [type]="'password'"
        [size]="'large'"
        [formControlName]="'replayPassword'"
        [placeholder]="'Повторите пароль'"
        [autocomplete]="true"
        [ariaLabel]="'Повторите пароль'"
      ></nutrition-base-input>
    </div>

    <div class="mt-4 text-error" *ngIf="passwordForm?.dirty && passwordForm?.errors?.notMatch">
      Пароли не совпадают
    </div>
    <div class="mt-24">
      <neo-ui-button
        [size]="'large'"
        [buttonType]="'submit'"
        [fullWidth]="true"
        [disabled]="passwordForm?.errors?.notMatch === true"
        (click)="registration()"
      >
        Зарегистрироваться
      </neo-ui-button>
    </div>
  </form>
</ng-template>

<ng-template #completeView>
  <div class="text-center">
    <div class="mt-24">
      Для возможности пользоваться личным кабинетом нужно подтвердить адрес электронной почты.
      Ссылка для подтверждения была отправлена на адрес: <b class="color-brand">{{ email?.value }}</b>
    </div>
  </div>
</ng-template>


