<header class="main-header">
  <div class="container">
    <div class="main-header__navigate-grid">
      <a href="/" class="main-header__navigate-logotype">
        Logotype
      </a>

      <nav class="main-header__navigate-menu">
        <neo-ui-navigate-list
          [type]="'horizontal'"
          [navigate]="mainMenu"
        ></neo-ui-navigate-list>
      </nav>

      <div class="main-header__user-menu">
        @if (isLoggedIn() === 'processing') {
          Loaded
        } @else if (isLoggedIn() === 'done') {
          <neo-ui-button [link]="'profile'">
            Личный кабинет
          </neo-ui-button>
        } @else {
          <neo-ui-button [link]="'profile'">
            Войти
          </neo-ui-button>
        }

      </div>

    </div>
  </div>
</header>
