@use 'ngx-neo-ui/assets/styles/theme-provider/theme_provider' as theme;

.main-header {
  padding: 24px 0;
  background: #fff;
  box-shadow: 0 1px var(--colorLightest);

  @include theme.mq(md) {
    padding: 32px 0;
  }

  &__navigate-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigate-menu,
  &__user-menu {
    @include theme.mq(md) {
      width: 33.33%;
    }
  }

  &__navigate-menu {
    display: none;

    @include theme.mq(md) {
      display: block;
    }
  }

  &__navigate-logotype {
    display: block;
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    transition: all var(--transitionSmall);
    //text-transform: uppercase;
    color: var(--colorSound);

    &:hover {
      color: var(--colorBrand);
    }

    @include theme.mq(md) {
      text-align: center;
    }

    @include theme.mq(md) {
      font-size: 32px;
      line-height: 1;
    }
  }

  &__navigate-menu {
    color: var(--colorBrand);
  }

  &__user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__social-links {
    display: flex;
    margin-right: 16px;

    @include theme.mq(md) {
      margin-right: 32px;
    }

    a {
      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }
}
