@use 'ngx-neo-ui/assets/styles/theme-provider/theme_provider' as theme;
@use 'ngx-neo-ui/assets/styles/theme-provider/base-styles/typography/typography'
  as typography;

.home-promo {
  @include theme.mq(lg) {
    --buttonPaddingTopLarge: #{24px};
    --buttonPaddingBottomLarge: #{24px};
    --buttonPaddingLeftLarge: #{24px};
    --buttonPaddingRightLarge: #{24px};
  }

  @include theme.mq(md) {
    display: flex;
  }
  &__column {
    //text-align: center;
    margin-top: -32px;
    padding: 32px 0;

    @include theme.mq(md) {
      margin-top: -48px;
      padding: 48px 24px;
      width: 50%;
      min-height: calc(100vh - 97px);
    }

    &:not(:first-child) {
      @include theme.mq(sm) {
        display: none;
      }
    }

    &--offer {
      background: var(--bgColorMode);
      color: #fff;

      @include theme.mq(md) {
        display: flex;
        align-items: center;
      }
    }

    &--slider {
      background-position: bottom center;
      background-size: cover;
    }
  }

  &__title {
    color: #fff;

    @include theme.mq(md) {
      @include typography.heading-h2;
    }

    @include theme.mq(lg) {
      font-size: 48px;
      line-height: 1;
    }
  }

  &__description {
    @include typography.heading-h6;

    font-weight: 700;
    color: #fff;

    @include theme.mq(lg) {
      @include typography.heading-h4;
    }

    @include theme.mq(lg) {
      @include typography.heading-h3;
    }
  }
}
