<div class="home-promo">

  <div class="home-promo__column home-promo__column--offer">
    <div class="container">
      <h2 class="home-promo__title heading-h2">
        Мы поможем изменить пищевые привычки,<br> чтобы всегда оставаться&nbsp;в&nbsp;форме
      </h2>

      <div class="home-promo__description text-base-large mt-24">
        Скидка 1 000 рублей до 31.08
      </div>

      <div class="mt-32">
        <neo-ui-button [size]="'large'" [theme]="'base'">
          Записаться на консультацию
        </neo-ui-button>
      </div>

    </div>
  </div>

  <div class="home-promo__column home-promo__column--slider"
  style="background-image: url('../../../assets/images/promo/promo-2.jpg')"
  >

  </div>


</div>

