@use 'ngx-neo-ui/assets/styles/theme-provider/theme_provider' as theme;

.view-container {
  padding: 32px 0;

  @include theme.mq(md) {
    padding: 64px 0;
  }
}

.nutrition-profile-view {
  &__grid {
    @include theme.mq(md) {
      display: flex;
    }
  }

  &__navigate-col {
    @include theme.mq(sm) {
      margin-bottom: 32px;
    }

    @include theme.mq(md) {
      width: 260px;
    }
  }

  &__navigate-col-sticky-md {
    @include theme.mq(md) {
      position: sticky;
      top: 104px; // 104px header + gutter
      max-height: calc(100vh - 104px); // 104px header + gutter
    }
  }

  &__content-col {
    @include theme.mq(md) {
      padding-left: 64px;
      width: calc(100% - 260px);
    }
  }

  &__navigate {
    list-style-type: none;
  }

  &__navigate-item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    > a,
    button {
      display: block;
      color: var(--colorBase);
    }
  }
}
