@forward 'normalize.css/normalize';
@forward 'assets/styles/fonts';
@forward 'ngx-neo-ui/assets/styles/theme-provider/base-styles/styles';
@forward 'ngx-neo-ui/assets/styles/theme-provider/common/accessibility/accessibility';
@forward 'ngx-neo-ui/assets/styles/theme-provider/common/offsets/offsets';
@forward 'ngx-neo-ui/assets/styles/theme-provider/base-styles/typography/typography';
@forward 'ngx-neo-ui/assets/styles/theme-provider/base-styles/container/container';

:root {
  --baseFont: #{'SF Pro Display', Arial, Helvetica, sans-serif};
}

.text-center {
  text-align: center;
}

.text-error {
  color: var(--colorError);
}

:root {
  --inputPaddingTopLarge: #{14px};
  --inputPaddingBottomLarge: #{14px};
  --inputPaddingLeftLarge: #{12px};
  --inputPaddingRightLarge: #{12px};
}
